<%- model_class = Parent -%>
<div class="page-header">
  <h1><%=t '.title', :default => Parent %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:case_number) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:zipcode) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @parents.each do |parent| %>
      <tr>
        <td><%= parent.id %></td>
        <td><%= parent.first_name %></td>
        <td><%= parent.last_name %></td>
        <td><%= parent.case_number %></td>
        <td><%= parent.address %></td>
        <td><%= parent.city %></td>
        <td><%= parent.state %></td>
        <td><%= parent.zipcode %></td>
        <td><%= parent.email %></td>
        <td><%= parent.phone %></td>
        <td><%=l parent.created_at, format: :long %></td>
        <td>
          <%= link_to parent_path(parent), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to parent_path(parent), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_parent_path,
            :class => 'btn btn-primary' %>
